.login-container {
    background: #35495E;
    border-radius: 2%;
    color: white;
    margin-top: 0%;
    max-width: 700px !important;
    padding: 10px;
}

body {
    background: #3f3f3f !important;
}